
*{
   font-family: 'Quicksand', sans-serif;
}

body{
      font-size: 0.9em;
      margin: 0;
}


#main-area{
   float: left;
   width: 50%;
}

#title-area{ /* map backrgound?*/
   opacity: 1;
   background: #ffffff;
   overflow: hidden;
   border-bottom: 1px solid #eeeeee;
}

h1 {
   text-align: center;
   margin: 0.5em 1em;
   font-size: 2.8em;
}

#input-fields{
   padding: 0.5em 10%;
   margin-bottom: 1em;
   text-align: center;
}

#user-address {
margin-bottom: 1.3em;
width: 100%;
max-width: 350px;
height: 1.5em;
font-size: 1.1em;
padding-left: 0.4em;
}

#distance-slider {
   display: block;
   clear: both;
   width: 80%;
   max-width: 220px;
   margin: auto;
}

#miles{
   font-size: 1.2em;
}

#findEvents{
   margin-top: 1em;
   width: 60%;
   max-width: 150px;
   font-size: 1.1em;
   padding: 0.2em;
}

#hidden-div{
   display: none;
}

#results-table{
   width: 100%;
   float: left;
   height: auto;
   margin-right: 5%;
   /*background: #f9f9f9;*/
   background: #ffffff url('event-bg.png');
   /*opacity: 0.8;*/
}

#map-window {
   width: 50%;
   height: 100vh;
   position: fixed;
   margin-left: 50%;
   z-index: -1;
}

#map {
   width: 100%;
   height: 100%;
}

#progress{
   display: none;
   z-index: 3;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   height: 100%;
   opacity: 0.7;
   background: #ffffff url('progressanimation.gif') no-repeat fixed center;
}

#scroll-icon{
   display: none;
   z-index: 2;
   position: fixed;
   left: 3%;
   bottom: 3%;
   height: 100px;
   width: 100px;
   opacity: 0.6;
   background: url('scroll-top.png') no-repeat;
   background-size: contain;
}

#scroll-icon:hover{
   opacity: 0.8;
   cursor: pointer;
}


#map-center{
   z-index: 10;
   position: fixed;
   right: 3%;
   bottom: 3%;
   height: 100px;
   width: 100px;
   opacity: 0.6;
   background: url('center-map.png') no-repeat;
   background-size: contain;
}

#map-center:hover{
   opacity: 0.8;
   cursor: pointer;
}


.event{
   width: 90%;
   padding: 5%;
   font-family: 'Quicksand', sans-serif;
   font-size: 1em;
   color: #00163a;
   background: rgb(248, 248, 248, 0);
   line-height: 1.4em;
}

#no-events{
   display: none;
   width: 80%;
   padding: 10%;
   color: #00163a;
   background: #ffffff;
   font-size: 1.2em;
}

.selected{
   background: rgba(255, 255, 255, 0.4) !important;
   outline: 2px solid #A2A2DB !important;
   outline-offset: -10px !important;
}

.selected:hover{
   cursor: default !important;
}


.event-title{
   max-width: 680px;
   text-align: center;
   color: #00163a;
   font-size: 1.5em;
   margin: 0 auto 0.4em;
   line-height: 1.3em
}

.event-description{
   max-width: 680px;
   color: #00163a;
   margin: 0.5em auto;
}

.event-date{
   text-align: center;
   font-size: 0.9em;
   font-weight: bold;
}

.event-map{
   margin: none;
   text-align: center;
   display: none !important; /* don't show on desktop */
}

.mini-map{
   margin: 3em 0 1em;
   width: 90%;
   max-width: 500px;
}

.info-window{
   text-align: center;
   padding: 0 0 12px 12px;
   font-size: 1.1em;
}

.info-window h3{
   max-width: 240px;
   font-size: 1.3em;
   font-weight: normal;
}

.info-window p{ /* date */
   font-size: 1em;
   font-weight: bold;
}

.info-window a{
   padding: 0 10px;
}


a{
   text-decoration: none;
}
a:hover{
   text-decoration: underline;
}
a:visited{
   color: #A834F9;
}

/* RESPONSIVE */
@media screen and (max-width: 900px) {

    #main-area {
        width: 100%;
    }

    .event-map{
      display: block !important;
    }

    #map-center{
      display: none;
   }

}
