

body{
      font-family: 'Quicksand', sans-serif;
      font-size: 0.9em;
      margin: 0;
}


#main-area{
   float: left;
   width: 50%;
}

#title-area{
   opacity: 0.9;
   background: #ffffff;
   overflow: hidden;
}

h1 {
   text-align: center;
   margin: 0 0 1em 0;
}

#search-bar {
   width: 50%;
   float: left;
}

#user-address {
   margin-bottom: 10px;
   width: 90%
}

#distance {
   text-align: center;
   width: 50%;
      float: left;
}
#distance p {
   width: 100%;
   margin: 0;

}
#distance-slider {
   width: 80%;
   margin: 0 10%;
}

#results-table{
   width: 100%;
   float: left;
   height: auto;
   /*padding: 5%;*/
   margin-right: 5%;
   background: #eeeeee;
   opacity: 0.8;
}

#map-window {
   width: 100%;
   height: 100vh;
   position: fixed;
   z-index: -1;
}

#map {
   width: 100%;
   height: 100%;
}

#progress{
   display: none;
   z-index: 2;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   height: 100%;
   opacity: 0.7;
   background: #ffffff
   url('progressanimation.gif') no-repeat fixed center;
}



.event{
   /*make min width the height of the browser window so it doesnt fall short */
   width: 90%;
   float: left;
   font-family: 'Quicksand', sans-serif;
   font-size: 1em;
   color: #00163a;
   line-height: 1.4em;
   padding: 5%;
   opacity: 1;
}

.selected{
   background: red !important;
}


.event-title{
   text-align: center;
   color: #00163a;
   font-size: 1.5em;
   margin-bottom: 0.4em;
}

/*a.entry-summary{
   display: block;
   width: 100%;
   text-align: center;
   color: #00163a;
   font-size: 1.5em;
}*/

.event-date{
   text-align: center;
   font-size: 0.9em;
   font-weight: bold;
}
